@media (width > 800px) {
    header {
        display: grid;
        width: 100%;
        margin-top: min(5rem, 20%);
        justify-items: center;
    
        & div{
            width: 24.375rem;
        }
    
        & button#dark-mode-toggle {
            background: none;
            border: none;

            position: absolute;

            top: 2rem;
            right: 2rem;

            :hover{
                cursor: pointer;
            }

            & img{
                width: 1.5rem;
                
            }
        }
    }
}