.desktop-only {
    display: none;
}

.container {
    margin-inline: auto;
    width: min(24.375rem, 100% - (2rem * 2));
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-16 {
    gap: 1.25rem;
}

.gap-12 {
    gap: 0.75rem;
}

.align-center {
    align-items: center;
}

.margin-44 {
    margin-bottom: 2.75rem;
}

.margin-40 {
    margin-bottom: 2.5rem;
}

.margin-36 {
    margin-bottom: 2.25rem;
}

.borda {
    border: 1px solid red;
}

.pad-12 {
    padding: 0.75rem;
}

.pad-x-18 {
    padding-inline: 1.125rem;
}

.pad-y-12 {
    padding-block: 0.75rem;
}

.display-none{
    display: none;
}

.dark-mode{
    background-color: #1a1a1a;
}

@media (width >= 800px) {
    body {
        margin-top: 5rem;
    }
}